:root {
  background-color: rgb(255, 157, 108);
  display: flex;
  justify-content: center;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: cursive;
  /* border: 1px solid red; */
  
}

h1 {
  font-size: 6.1rem;
  text-align: center;
  padding-top: 5rem;
}

h2 {
  font-size: 4rem;
  margin-top: 5rem;
  margin: auto;
  padding: 10rem;
}

#container {

}

button#Play {
display: inline;
  font-size: 2rem;
  padding: 2rem 0;
  width: 30rem;
justify-content: center;
background-color: rgb(10, 243, 219);

}

button#HighScore {
  /* position: fixed; right: 25rem; top: 77rem; */
display: inline;
  font-size: 2rem;
  padding: 2rem 0;
  width: 30rem;
  justify-content: center;
  margin-top: 150px;
  background-color: rgb(10, 243, 219);

}

button#start {
position: relative;
display: inline;
  font-size: 2rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-top: 3rem;
  background-color: rgb(10, 243, 219);

}

button:hover {
justify-content: center;
cursor: pointer;
box-shadow: 0 1rem 1rem 0;
transition: transform 150%;
animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  
}

select {
position: relative;
font-size: 2rem;
padding: .5rem;
width: 30rem;
background-color: yellow ;
text-align: center;
}





/* QuestionCards */
questioncard {
padding: 50px;
margin: 10rem;
border: 5px dotted rgb(55, 0, 106);
background-color: rgb(10, 243, 219);
border-width: ; 
display: block;

background-image: linear-gradient(90deg, white 50%, transparent 75%), linear-gradient(90deg, white 50%, transparent 75%), linear-gradient(0deg, white 50%, transparent 75%), linear-gradient(0deg, white 50%, transparent 75%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 100px 20px, 100px 20px, 20px 100px, 20px 100px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 5s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 1500px top, right 1500px bottom , left bottom 1500px , right   top 1500px;
  }
}

questioncard p {
  font-size: 3rem;
  text-align: center;
  padding: .5rem;
  border: 5px dotted rgb(10, 24, 120);
  border-radius: 25px;
  width: auto ;
  
}

#home3 {
  margin: 5rem;
}

.ansOptions {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  width: 20rem;
  background-color: yellow;
  margin-top: 2rem;
}

.selected {
  font-size: 2rem;
  text-align: center;
  padding-bottom: rem;
  background-color: rgb(156, 156, 238);

}

#submit {
  font-size: 40px;
  padding: 2rem;
  background-color: rgb(10, 243, 219);
  color: ;
}
