:root {
    background-color: chartreuse;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: cursive;
}
h1 {
    font-size: 8rem;
    text-align: center;
    padding-top: 5rem;
}
h2 {
    font-size: 4.2rem;
    text-align: center;
    padding-bottom: 5rem;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 2rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 1rem 1rem 0;
    transition: transform 150%;
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
    }
}